env.cohorts = 'BLADDER BrCa CRC NSCLC PANC Prostate'
docker.enabled = true

manifest {
	name = 'Sage-Bionetworks/GENIE-Sponsored-Projects'
	author = 'Thomas Yu'
	homePage = 'https://github.com/Sage-Bionetworks/GENIE-Sponsored-Projects'
	description = 'Nextflow process for GENIE BPC cBioPortal export'
	mainScript = 'main.nf'
	nextflowVersion = '21.04.0.5552'
	version = '0.1'
}
profiles {
	aws_prod {
		process {
			withName: cBioPortalExport {
				memory = 32.GB
				cpus = 8
			}
		}
	}
}
